HealthGuardApp/Service References/ServiceReference4/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62307/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62307/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62307/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthGuardObjects" />
      <xsd:import schemaLocation="http://localhost:62307/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFHealthGuard" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_userRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:userRegister" />
  </wsdl:message>
  <wsdl:message name="IService1_userRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:userRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getprofileID_InputMessage">
    <wsdl:part name="parameters" element="tns:getprofileID" />
  </wsdl:message>
  <wsdl:message name="IService1_getprofileID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprofileIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPatientInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientInformation" />
  </wsdl:message>
  <wsdl:message name="IService1_getPatientInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertingtheData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertingtheData" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertingtheData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertingtheDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:loginUser" />
  </wsdl:message>
  <wsdl:message name="IService1_loginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="userRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userRegister" message="tns:IService1_userRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userRegisterResponse" message="tns:IService1_userRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprofileID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getprofileID" message="tns:IService1_getprofileID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getprofileIDResponse" message="tns:IService1_getprofileID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPatientInformation" message="tns:IService1_getPatientInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPatientInformationResponse" message="tns:IService1_getPatientInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertingtheData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertingtheData" message="tns:IService1_InsertingtheData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertingtheDataResponse" message="tns:IService1_InsertingtheData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loginUser" message="tns:IService1_loginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginUserResponse" message="tns:IService1_loginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="userRegister">
      <soap:operation soapAction="http://tempuri.org/IService1/userRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprofileID">
      <soap:operation soapAction="http://tempuri.org/IService1/getprofileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientInformation">
      <soap:operation soapAction="http://tempuri.org/IService1/getPatientInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertingtheData">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertingtheData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="http://tempuri.org/IService1/loginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62307/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>